<div id="environment">
  <h1>Environmental Impact</h1>
  <section class="subSection">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    <!--This will be interactive game hopefully  -->
    <section>
      <!-- picture of trees -->
      <img src="images/FieldOfTrees.png">
      <!-- The button that shows the competitiors -->
      <div class="gameButton" id="them">
        <p>Them</p>
      </div>
      <!-- This is our button that returns the tree -->
      <div class="gameButton" id="us">
        <p>Us</p>
      </div>
      <!-- These are all the blocks that will cover up the trees they fell -->
      <article class="treeKiller" id="treeKiller1">
      </article>
      <article class="treeKiller" id="treeKiller2">
      </article>
      <article class="treeKiller" id="treeKiller3">
      </article>
      <article class="treeKiller" id="treeKiller4">
      </article>
      <article class="treeKiller" id="treeKiller5">
      </article>
    </section>
  </section>
</div>
