<div id="products">
  <!-- scrolls left -->
  <div id="buttonLeft">
    <h2> < </h2>
  </div>
  <section id="prod">
    <h1>Our Products</h1>
    <section id="switchProduct" class="productOne">
      <img src="images/paper1.jpeg">
    </section>
    <h3 class="=product">Some of our wonderful products</h3>
  </section>
  <!-- scrolls right -->
  <div id="buttonRight">
    <h2> > </h2>
  </div>
</div>

<div id="testimonials">
  <h1>Testimonials</h1>
  <section id="quoteSection">
    <p id="quote1" class="quote">"Great for spitballs!" - Thelma</p>
    <p id="quote2" class="quote">For all my paper football needs, Munder Difflin scores a touchdown! - Horatio</p>
    <p id="quote3" class="quote">When I need something to write on, I always choose Munder Difflin - Algernon</p>
    <p id="quote4" class="quote">For tossing paper into the recycling bin, Munder Difflin is a slam dunk! - Kobe</p>
  </section>
</div>
