<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Munder Difflin Paper</title>
  <link rel="stylesheet" href="main.css">
  <!-- ADD MOBILE RESPONSIVENESS! -->
</head>
<body>

  <header>
    <img id="logo" src="images/logo.jpg" alt="spiffy logo">
    <a href="#logo">Home</a>
    <a href="#aboutUs">About Us</a>
    <a href="#environment">Environment</a>
    <a href="#products">Products</a>
  </header>

  <div>
    <%= yield %>
  </div>

  <footer>
    <a id="contactUs">Contact Us</a>
    <a id="twitter">Twitter</a>
    <a id="instagram">Instagram</a>
    <a id="facebook">Facebook</a>
  </footer>


  <script src="main.js"></script>
  </body>
  </html>
